@import ../../styles/variables

.container
    background-color: $background-color
    margin: 0
    padding: 15px

.content
    width: 100%
    background-color: green
    height: 700px
    margin-bottom: 56px
    padding-bottom: 15px

