@import ../../styles/variables

body
    background-color: $background-color
    margin: 0
    padding: 15px

h1
    font-family: 'Roboto'
    font-weight: normal
    color: white
    font-size: 20px

h3
    color: white
    font-family: 'Roboto'
    font-weight: normal
    color: white
    font-size: 20px
    color: $titles-color

section.content
    display: flex
    justify-content: center
    align-items: center
    background-color: lightblue
    width: 100%
    height: 700px
    font-size: 50px
    color: white

