$dark-blue: #112045;
$green: #26B0A1;
$white: #FFFFFF;
$grey: #E8E8E8;

.MuiContainer-root.outer-container {
  background-color: $dark-blue;
  height: 100vh;
  width: 100vw;
}

.inner-container {
  height: 100%;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

.MuiGrid-item {
  width: 100%;
  padding: 1rem 0px;
}

.MuiContainer-root.MuiFilledInput-root {
  background-color: $grey;
}

.MuiGrid-item.title-item {
  width: 50%;
  margin: 2rem 2rem 12rem 2rem
}

.MuiFormHelperText-root.white-text {
  color: $white;
}

.MuiTextField-root {
  background-color: $grey;
}

.MuiTextField-root label {
  color: rgba(0,0,0,0.6);
  mix-blend-mode: normal;
  line-height: 24px;
}

.MuiInputBase-input.MuiFilledInput-input {
  line-height: 24px;
  padding: 1rem 1rem;
  background-color: $grey;
}

.MuiTextField-root.MuiFormHelperText-root input {
  color: $white;
}

.MuiTypography-root {
color: $white;
}

.MuiButton-root.button {
  color: $white;
  background-color: $green;
  border: none;
  border-radius: 200px;
  height: 2.8rem;
  font-size: 1rem;

  &.disabled {
    background-color: $green;
  }
  &.Mui-disabled {
    background-color: $green;
  }
  &.containedSecondary {
    background-color: $green;
  }
  
}

.MuiButton-outlinedSecondary.button:hover {
  background-color: $green;
  border: none;
  &.Mui-disabled {
    background-color: $green;
  }
}

.MuiTypography-root h1 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

