@import "../../styles/variables.sass";
div.MuiPaper-root.MuiCard-root.itemDetailCard {
    background: $background-color;
    max-width: 100%;
    box-shadow: none;
}

div.MuiCardMedia-root.itemDetailCard-media {
    height: 0;
    padding-top: 75%; // 56.25% es 16:9
}

h1.MuiTypography-root.itemDetailCard-title {
    color: $principalColor;
    font-weight: bold;
}

p.MuiTypography-root.itemDetailCard-paragraph {
    padding-top: 10px;
    color: $paragraphColor;
    text-align: start;
}

div.loadingContainerTwo {
    height: 100px;
}