.profile {
    article:last-of-type {
        margin-bottom: 36px;
    }

    p{
        display: block;
        font-size: 20px;
        line-height: 23px;
        margin-left: 40px;
    }

    p:first-of-type{
        margin-bottom: 23px;
    }
}