.CarrouselProfile {
    margin-bottom: 33px;

    header {
        text-align: center;
        margin-bottom: 28px;

        h2 {
            font-size: 20px;
            line-height: 23px;
            text-decoration-line: underline;
        }
    }

    div {
        display: flex;
        justify-content: center;
        padding: 0 11px; //Padding a 19px cuando el body este a 0px.
        
        figure {
            margin: 0 6.5px;
            border-radius: 0;
            box-shadow: none;
            
            img {
                width: 162px;
                height: 127px;
            }

            div:last-child {
                padding: 9px 0 0 0 ;
            }
        } 
        figure:first-child {
            margin: 0 6.5px 0 0;
        }
        figure:last-child {
            margin: 0 0 0 6.5px;
        }
    }
}
