@import "./vars.scss";
.card {
    background: $background-color;
    background: $bgColor;
    background: $background-color;
    max-width: 100%;
    box-shadow: none;
}

.media {
    height: 0;
    padding-top: 75%; // 56.25% es 16:9
}

.title {
    color: white;
    font-weight: bold;
}

.paragraph {
    padding-top: 10px;
    color: #f2f2f2;
}